html {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.works-desktop {
  display: none;
}

.contact-form1 {
  display: none;
}

.about1 {
  display: none;
}

.ul-style {
  display: none;
}

.fa-bars {
  position: absolute;
  left: 339.67px;
  top: 56.83px;
  border: 2px solid #acb7c3;
}

.my-logo {
  font-size: 18px;
  font-weight: 700px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  margin-left: 24px;
  color: rgb(96, 112, 255);
}

.logo-holder {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.section1 {
  background-repeat: no-repeat;
  height: 718px;
  width: 375px;
  background-image: url("./images/header-shapes-mobile.png");
  border: 2px solid rgb(186, 185, 185);
  border-bottom-left-radius: 50px;
}

.let {
  margin-left: 24px;
}

.text3 {
  font-weight: 500px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(10, 10, 59);
}

.text1 {
  height: 150px;
  width: 327px;
  margin: 120px 24px 0 24px;
}

h1 {
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.text2 {
  height: 146px;
  width: 327px;
  margin: 2px 24px 0 24px;
}

.text2 p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social_links {
  position: static;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

li {
  overflow: hidden;
}

a {
  position: static;
  color: rgb(96, 112, 255);
  text-decoration: none;
}

.twit-icon {
  position: absolute;
  left: 35.4px;
  right: 88.27%;
  top: 610.8px;
  bottom: 18.88%;
}

.twit1-icon {
  position: absolute;
  left: 48.4px;
  right: 88.27%;
  top: 3623.8px;
  bottom: 18.88%;
}

.ln-icon {
  position: absolute;
  left: 72px;
  right: 77.87%;
  top: 610.8px;
  bottom: 18.87%;
}

.ln1-icon {
  position: absolute;
  left: 74px;
  right: 77.87%;
  top: 3623.8px;
  bottom: 18.87%;
}

.git-icon {
  position: absolute;
  left: 137.1px;
  right: 57.07%;
  top: 613px;
  bottom: 18.87%;
}

.git1-icon {
  position: absolute;
  left: 121.1px;
  right: 57.07%;
  top: 3623.8px;
  bottom: 18.87%;
}

.m-icon {
  position: absolute;
  left: 108.4px;
  right: 67.2%;
  top: 615px;
  bottom: 19.21%;
}

.m1-icon {
  position: absolute;
  left: 98.4px;
  right: 67.2%;
  top: 3626.8px;
  bottom: 19.21%;
}

.a-icon {
  position: absolute;
  left: 176.47px;
  right: 67.2%;
  top: 612.8px;
  bottom: 19.21%;
}

.a1-icon {
  position: absolute;
  left: 143.47px;
  right: 67.2%;
  top: 3623.8px;
  bottom: 19.21%;
}

.card-work {
  margin-top: 30px;
  height: 494px;
  width: 296px;
  border-radius: 16px;
  padding: 43px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(218, 218, 218);
}

.card-image {
  height: 220px;
  width: 295px;
  border-radius: 8px;
}

.left-block {
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E";
  grid-template-columns: 1fr;
  align-content: flex-start;
  height: 320px;
  width: 295px;
  border-radius: 0;
}

.social_links1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 40px;
  left: 0;
  top: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -10px -45px;
}

.left1-block {
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E";
  grid-template-columns: 1fr;
  align-content: flex-start;
  height: 320px;
  width: 295px;
  border-radius: 0;
}

.left2-block {
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E";
  grid-template-columns: 1fr;
  align-content: flex-start;
  height: 320px;
  width: 295px;
  border-radius: 0;
  margin: 130px 8px;
}

.left3-block {
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E";
  grid-template-columns: 1fr;
  align-content: flex-start;
  height: 740px;
  width: 295px;
  border-radius: 0;
}

.left4-block {
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E";
  grid-template-columns: 1fr;
  align-content: flex-start;
  height: 320px;
  width: 295px;
  border-radius: 0;
  margin: 130px 8px;
}

.h2 {
  height: 60px;
  width: 200px;
  font-size: 32px;
  font-weight: 700px;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 59px;
  color: rgb(23, 43, 77);
}

.frame1 {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 290px;
  border-radius: 0;
}

.frame2 {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 290px;
  border-radius: 0;
}

.frame3 {
  display: flex;
  flex-direction: row;
  height: 139px;
  width: 290px;
  border-radius: 0;
}

.frame4 {
  display: flex;
  flex-direction: row;
  height: 330px;
  width: 290px;
  border-radius: 0;
}

.frame2 p {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -30px 0;
}

.frame3 p {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -143px 0;
}

.frame4 p {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -27px 0;
}

.frame2 .p1 {
  height: 113px;
  width: 88px;
  font-size: 13px;
  font-weight: 600px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(122, 134, 154);
}

.frame3 .p1 {
  height: 113px;
  width: 88px;
  font-size: 13px;
  font-weight: 600px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(122, 134, 154);
}

.frame4 .p1 {
  height: 113px;
  width: 88px;
  font-size: 13px;
  font-weight: 600px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(122, 134, 154);
}

.frame3 img {
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
  margin: -138px 7px;
}

.frame4 img {
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
  margin: -22px 7px;
}

.frame2 img {
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
  margin: -28px 7px;
}

.frame1 p {
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -74px 0;
}

.frame1 .p1 {
  height: 113px;
  width: 98px;
  font-size: 13px;
  font-weight: 600px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(122, 134, 154);
}

.frame1 img {
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
  margin: -70px 7px;
}

.primary1 {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 136px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -156px 0;
}

.primary4 {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -338px 0;
}

.primary5 {
  position: static;
  width: 295px;
  height: 12px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -338px 0;
}

.primary3 {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -256px 0;
}

.primary2 {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -115px 0;
}

.left-block ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 232px;
  height: 70px;
  left: 0;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: -102px -9px;
}

.left1-block ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 316px;
  height: 70px;
  left: 0;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: -59px -2px;
}

.left2-block ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 304px;
  height: 70px;
  left: 0;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: -202px -2px;
}

.left3-block ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 232px;
  height: 70px;
  left: 0;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: -143px -254px;
}

.left4-block ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 232px;
  height: 70px;
  left: 0;
  top: 180px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: -289px -11px;
}

.frame12 li {
  text-align: left;
  margin-bottom: 9px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
}

.social_links1 ul li {
  float: left;
}

.left2-block ul li {
  float: left;
  text-align: center;
  margin-right: 8px;
  height: 18px;
  width: 89px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  background: rgb(235, 235, 255);
}

.left3-block ul li {
  float: left;
  text-align: center;
  margin-right: 8px;
  height: 18px;
  width: 89px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  background: rgb(235, 235, 255);
}

.action {
  position: static;
  width: 83px;
  height: 6px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: -18px 0;
}

.action0 {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: -18px 0;
}

.action1 {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 16px 0;
}

.action2 {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: -118px 0;
}

.action3 {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: -222px -13px;
}

.action4 {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 22px -7px;
}

.action4 p {
  height: 30px;
  width: 150px;
  border-radius: 8px;
  margin-top: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
}

.action0 p {
  height: 30px;
  width: 164px;
  border-radius: 8px;
  padding: 0;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
  margin: 21px;
  margin-left: 0;
}

.action1 p {
  height: 30px;
  width: 150px;
  border-radius: 8px;
  margin-top: 0;
  padding: 4px;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
}

.action2 p {
  height: 30px;
  width: 150px;
  border-radius: 8px;
  margin-top: 0;
  padding: 4px;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
}

.action3 p {
  height: 30px;
  width: 150px;
  border-radius: 8px;
  margin-top: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
}

.action p {
  height: 30px;
  width: 150px;
  border-radius: 8px;
  margin-top: 0;
  padding: 4px 4px;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
}

.about {
  margin-top: 17px;
  height: 900px;
  width: 376px;
  padding: 114px, 24px, 114px, 24px;
}

.about .top {
  margin-top: 14px;
  margin-bottom: 20px;
  padding-left: 40px;
  height: 409px;
  width: 327px;
}

.about .skill-list {
  height: 478px;
  width: 453px;

  /* padding: 8px 29px; */
}

.left2-block ul li a {
  display: block;
  padding: 4px 24px;
  text-decoration: none;
  height: 16px;
  width: 29px;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(96, 112, 255);
}

.left-block ul li a {
  display: block;
  padding: -2px 12px;
  text-decoration: none;
  height: 16px;
  width: -13px;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(96, 112, 255);
}

.left1-block ul li a {
  display: block;
  padding: 2px 28px;
  text-decoration: none;
  height: 16px;
  width: 29px;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(96, 112, 255);
}

.frame12 {
  height: 320.14678955078125px;
  width: 302px;
}

.left4-block ul li {
  float: left;
  text-align: center;
  margin-right: 0;
  height: 18px;
  width: 112px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  background: rgb(235, 235, 255);
}

.left-block ul li {
  float: left;
  text-align: center;
  margin-right: 8px;
  height: 18px;
  width: 89px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  background: rgb(235, 235, 255);
}

.left1-block ul li {
  float: left;
  text-align: center;
  margin-right: 8px;
  height: 18px;
  width: 89px;
  border-radius: 8px;
  padding: 4px, 12px, 4px, 12px;
  background: rgb(235, 235, 255);
}

.frame12 .language-list {
  margin-bottom: 20px;
}

.frame12 .language {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-weight: 500px;
}

.frame12 .language-list li span {
  position: relative;
  top: -18px;
  left: 24px;
}

.frame12 .language-list li img {
  position: relative;
  left: 12px;
  top: 3px;
}

.frame12 .language .down-angle {
  position: relative;
  right: -247px;
  height: 4500px;
}

.frame12 .language-list li a {
  text-decoration: none;
}

.frame12 .language-list ul li {
  height: 55px;
  width: 300px;
  text-align: left;
}

.frame12 .language-list ul li img {
  height: 48px;
  width: 48px;
  border-radius: 0;
}

.frame12 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.frame12 .language-list ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 200px;
  width: 327px;
}

.frame12 ul .my-work {
  margin-top: -33px;
  margin-bottom: 14px;
  height: 50px;
  width: 327px;
  border-radius: 0;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-bottom: 0 solid rgb(205, 205, 205);
}

.frame12 ul .my-work1 {
  position: relative;
  height: 50px;
  width: 327px;
  border-radius: 0;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(205, 205, 205);
}

.frame12 ul .my-work .frameworks .greater-than {
  position: relative;
  right: -142px;
}

.frame12 ul .my-work1 .skills .greater-than {
  position: relative;
  right: -200px;
}

.top .connect {
  margin-top: 184px;
  margin-left: 0;
  text-align: left;
  height: 32px;
  width: 300px;
}

.contact-form p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.action11 {
  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 16px 0;
}

.action11 p {
  height: 30px;
  width: 181px;
  border-radius: 8px;
  margin-top: 0;
  padding: 4px;
  font-size: 19px;
  font-weight: 500px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid rgb(57, 109, 242);
  text-align: center;
  color: rgb(57, 109, 242);
}

.top .connect p {
  font-size: 16px;
  color: rgb(127, 140, 255);
}

.top .action {
  width: 200px;
}

.top .action1 {
  width: 200px;
}

.top .action3 {
  width: 200px;
}

.top .action2 {
  width: 200px;
}

.top .action p {
  width: 200px;
}

.top .action1 p {
  width: 200px;
}

.top .primary1 {
  margin-top: 62px;
  margin-bottom: 13px;
}

.top .primary3 {
  margin-top: 62px;
  margin-bottom: 13px;
}

.top .primary4 {
  margin-top: 62px;
  margin-bottom: 13px;
}

.top .primary5 {
  margin-top: 43px;
  margin-bottom: 13px;
}

.container1 {
  background-image: url(images/img12.png);
  background-repeat: no-repeat;
}

.shape {
  padding: 29px 153px;
  height: 861px;
  top: 4000px;
}

.header {
  /* position: absolute; */
  width: 808px;
  height: 68px;
  left: -225px;
  top: 4734px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3f51b5;
  margin: -1370px 33px;
}

.primary {
  position: absolute;
  width: 327px;
  height: 111px;
  left: 42px;
  top: 4221px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #9c27b0;
}

.username {
  position: absolute;
  left: 0;

  /* width: 100px; */
  top: 0;
  margin: 373px 88px;
}

.text {
  position: absolute;
  height: 6916px;
  left: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: -1px;
}

.usernamecontainer {
  position: absolute;
  left: 0;

  /* right: 0px; */
  top: 4002px;
  bottom: 0;
  border: 1px solid rgb(57, 109, 242);
  background: #fff;
  border-radius: 16px;
}

.email {
  height: 18px;
  left: 155px;
  right: 38px;
  top: calc(50% - 18px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 10px 88px;
}

.emailcontainer {
  position: absolute;
  height: 18px;
  left: -9px;
  right: 38px;
  top: 4409px;
  width: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 10px 10px;
}

.msg {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Mono/White */

  background: #fff;

  /* Base/100 */

  border: 1px solid #cfd8dc;
  border-radius: 16px;
}

.message {
  position: absolute;
  left: 91px;
  top: 4454px;

  /* bottom: 343px; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.get {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 15px;
  position: absolute;
  width: 116px;

  /* height: 393px; */
  left: 89px;
  top: 4544px;
  background: #673ab7;
  border-radius: 16px;
}

.contact-form {
  background-image: url("images/contact-form-shape-mobile.png");
  background-repeat: no-repeat;
  background-size: 190px 650px;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 740px;
  width: 287px;
  background-position: right;
  padding: 0 20px;
  text-align: center;
  border-top-left-radius: 100px;
}

.contact-form div {
  padding: 45px 12px 10px;
  margin-top: 20px;
}

.contact-form h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 5px;
}

#name,
#email {
  height: 35px;
  width: 280px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 3px 10px;
  font: inherit;
}

form {
  display: flex;
  flex-direction: column;
  grid-row-gap: 14px;
}

textarea {
  width: 272px;
  height: 120px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 20px 15px;
  font: inherit;
}

.contact-form button {
  font: inherit;
  width: 140px;
  height: 47px;
  border-radius: 10px;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 10px;
  color: #396df2;
  background: #fff;
  margin: 6px 0 10px;
}

.contact-form button:hover {
  background-color: #6010ff;
  color: #fff;
}

.contact-form button:active {
  background-color: #2230d2;
  transition: 0.3s;
}

.contact-form button:disabled {
  background-color: #fff;
  color: #5e6c84;
  border: 1px solid #e5e5e5;
}

hr {
  width: 140px;
  height: 8px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  html {
    /* background: #f7f7f0; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .works-desktop {
    display: inline;
  }

  .section {
    display: flex;
    background-color: white;
  }

  .section1 {
    background-repeat: no-repeat;
    height: 839px;
    width: 100%;
    background-image: url(./images/headerbg.png);
    background-size: 100% 92%;
    border: 0;
    background-color: white;
  }

  .section1 .text1 {
    height: 338px;
    width: 100%;
    margin: 116px 24px 0 153px;
    padding-top: 147px;
    color: #172b4d;
  }

  .ul-style {
    display: flex;

    /* margin-right: 45px; */
    height: 27px;
    width: 447px;
    font-weight: 700px;
    color: rgb(6 6 6);
    padding-left: 532px;
    gap: 70px;
    margin-top: 37px;
  }

  .logo-holder {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #6070ff;
    margin-left: 100px;
    width: 145px;
    margin-top: 43px;
  }

  .ul-style li a {
    float: left;
    color: #344563;
  }

  .frame3 {
    display: flex;
    flex-direction: row;
    height: 153px;
    width: 106px;
    border-radius: 0;
    margin-right: 17px;
  }

  .text2 {
    height: 86px;
    width: auto;
    margin: -227px 140px 0 153px;
  }

  .let {
    margin-left: 151px;
  }

  .twit-icon {
    position: absolute;
    left: 157.4px;
    right: 88.27%;
    top: 616.8px;
    bottom: 18.88%;
  }

  .ln-icon {
    position: absolute;
    left: 194px;
    right: 77.87%;
    top: 615.8px;
    bottom: 18.87%;
  }

  .m-icon {
    position: absolute;
    left: 229.4px;
    right: 67.2%;
    top: 620px;
    bottom: 19.21%;
  }

  .git-icon {
    position: absolute;
    left: 262.1px;
    right: 57.07%;
    top: 618px;
    bottom: 18.87%;
  }

  .a-icon {
    position: absolute;
    left: 296.47px;
    right: 67.2%;
    top: 619.8px;
    bottom: 19.21%;
  }

  .card-image {
    display: none;
  }

  .card-work {
    display: none;
  }

  .card-work1 {
    height: -86px;
    width: 28%;
    border-radius: 16px;
    padding: 43px;
    background: rgb(255, 255, 255);
    border: 0 solid rgb(218, 218, 218);
    background-image: url(images/d1.png);
    background-repeat: no-repeat;
    padding-left: 587px;
    margin-left: 107px;
  }

  .card-work2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -36px;
    height: 575px;
    width: 299px;
    border-radius: 16px;
    padding: 21px;
    background: rgb(255, 255, 255);
    border: 0 solid rgb(218, 218, 218);

    /* background-image: url(images/Snapshoot.png); */
    background-repeat: no-repeat;
    padding-left: 787px;
    margin-left: 98px;
    margin-right: 43px;
    padding-right: 125px;
  }

  .card-image2 {
    margin-left: 249px;
  }

  .card-work2 .h2 {
    height: 60px;
    width: 262px;
    font-size: 28px;
    font-weight: 700px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 59px;
    color: rgb(23, 43, 77);
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    height: 153px;
    width: 354px;
    border-radius: 0;
  }

  .frame2 p {
    position: static;
    width: 91px;
    height: 16px;
    left: 0;
    top: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: -2px;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -33px 0;
  }

  .frame2 .p1 {
    height: 113px;
    width: 103px;
    font-size: 13px;
    font-weight: 600px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: rgb(122, 134, 154);
  }

  .primary2 {
    position: static;
    width: 442px;
    height: 76px;
    left: 0;
    top: 80px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -136px 0;
  }

  .left1-block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;
    width: 423px;
    height: 24px;
    left: 24px;
    top: 240px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0;
  }

  .left1-block ul li {
    float: left;
    text-align: center;
    margin-right: 8px;
    height: 28px;
    width: 106px;
    border-radius: 8px;
    padding: 4px, 12px, 4px, 12px;
    background: rgb(235, 235, 255);
  }

  .left1-block ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1px;
    position: static;
    width: 101px;
    height: 31px;
    left: 0;
    top: 0;
    background: #ebebff;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -2px 14px;
  }

  .about {
    display: none;
  }

  .about .top {
    display: none;
  }

  .contact-form {
    display: none;
  }

  .card-work3 {
    margin-top: -69px;
    height: -86px;
    width: 28%;
    border-radius: 16px;
    padding: 43px;
    background: rgb(255, 255, 255);
    border: 0 solid rgb(218, 218, 218);
    background-image: url(images/d3.png);
    background-repeat: no-repeat;
    padding-left: 587px;
    margin-left: 107px;
  }

  .card-work3 .h2 {
    height: 60px;
    width: 200px;
    font-size: 26px;
    font-weight: 700px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 59px;
    color: rgb(23, 43, 77);
  }

  .frame3 p {
    position: static;
    width: 76px;
    height: 16px;
    left: 0;
    top: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: inherit;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -142px 11px;
  }

  .frame3 .p1 {
    height: 113px;
    width: 88px;
    font-size: 11px;
    font-weight: 600px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: rgb(122, 134, 154);
  }

  .primary3 {
    position: static;
    width: 469px;
    height: 76px;
    left: 0;
    top: 92px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -256px 0;
  }

  .left2-block ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;
    width: 388px;
    height: 70px;
    left: 0;
    top: 180px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: -202px -2px;
  }

  .left2-block ul li {
    float: left;
    text-align: center;
    margin-right: 8px;
    height: 35px;
    width: 98px;
    border-radius: 8px;
    padding: 4px, 12px, 4px, 12px;
    background: rgb(235, 235, 255);
  }

  .left2-block ul li a {
    display: block;
    padding: 0 9px;

    /* text-decoration: none; */
    height: 16px;
    width: 79px;
    font-size: 11px;
    font-weight: 500px;
    line-height: 10px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgb(96, 112, 255);
  }

  .card-work4 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -286px;
    height: 285px;
    width: 409px;
    border-radius: 16px;
    padding: 165px;
    background: rgb(255, 255, 255);
    border: 0 solid rgb(218, 218, 218);
    background-repeat: no-repeat;
    padding-left: 544px;
    margin-left: 145px;
  }

  .card-image4 {
    margin-left: 159px;
  }

  .frame4 {
    display: flex;
    flex-direction: row;
    height: 159px;
    width: 290px;
    border-radius: 0;
  }

  .frame4 p {
    position: static;
    width: 76px;
    height: 42px;
    left: 0;
    top: 21px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -22px 0;
  }

  .frame4 .p1 {
    height: 113px;
    width: 94px;
    font-size: 13px;
    font-weight: 600px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: rgb(122, 134, 154);
  }

  .frame4 img {
    position: static;
    width: 8px;
    height: 7px;
    left: 67px;
    top: 8px;
    background: #c1c7d0;
    flex: none;
    flex-grow: 0;
    margin: -21px 7px;
  }

  .primary4 {
    position: static;
    width: 462px;
    height: 76px;
    left: 0;
    top: 92px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -115px 0;
  }

  .about1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 391px;
    height: 376px;
    left: 142px;
    top: 3213px;
  }

  .twit1-icon {
    position: absolute;
    left: 5.800000000000182px;
    right: 88.27%;
    top: 289.8000000000002px;
    bottom: 18.88%;
  }

  .ln1-icon {
    position: absolute;
    left: 40px;
    right: 77.87%;
    top: 289.8000000000002px;
    bottom: 18.87%;
  }

  .m1-icon {
    position: absolute;
    left: 74.4px;
    right: 67.2%;
    top: 289.8000000000002px;
    bottom: 19.21%;
  }

  .git1-icon {
    position: absolute;
    left: 104.1px;
    right: 57.07%;
    top: 289.8000000000002px;
    bottom: 18.87%;
  }

  .a1-icon {
    position: absolute;
    left: 132.47px;
    right: 67.2%;
    top: 289.8000000000002px;
    bottom: 18.21%;
  }

  .skill-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 684px;
    height: 360px;
    left: 511px;
    top: -22px;
  }

  .text {
    position: absolute;
    height: 26px;
    left: 16px;
    top: calc(50% - 18px / 2);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    margin-top: -128px;
  }

  .frame11 .language .down-angle {
    margin-left: 450px;
  }

  .frame11 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    position: static;
    width: 414px;
    height: 144px;
    left: 0;
    top: 72px;
  }

  .frame11 ul .my-work {
    position: absolute;
    height: 161px;
    left: 24px;
    right: 78px;
    top: calc(50% - 24px / 2);

    /* Body / 1 - Bolder */

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .frame11 .my-work .greater-than {
    margin-left: 238px;
  }

  .frame11 .my-work1 {
    position: absolute;
    height: 269px;
    left: 24px;
    right: 78px;
    top: calc(50% - 24px / 2);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .frame11 ul .languages-list ul {
    display: flex;
    grid-gap: 20px;
    width: auto;
    margin-top: 0;
    margin-right: 200px;
  }

  .frame11 ul .languages-list li {
    display: list-item;
    background: #f7f7f9;
    border-radius: 8px;
    height: 90px;
    width: 130px;
  }

  .frame11 ul .languages-list li img {
    padding-left: 10px;
  }

  .frame11 .my-work1 .greater-than {
    margin-left: 310px;
  }

  .contact-form1 {
    background-image: url("images/Headerbg.png");
    background-repeat: no-repeat;
    background-size: 100% 86%;
    background-color: #6070ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 740px;
    width: 1030px;
    background-position: right;
    padding: 0 20px;
    text-align: center;
    border-top-left-radius: 100px;
    margin-top: 570px;
    margin-left: 121px;
  }

  .contact-form1 h2 {
    position: static;
    width: 310px;
    height: 56px;
    left: 33px;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 94px 348px;
  }

  .contact-form1 p {
    position: static;
    width: 565px;
    height: 92px;
    left: 222px;
    top: 54px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -45px 209px;
  }

  form {
    display: flex;
    flex-direction: column;
    grid-row-gap: 14px;
    margin-top: 61px;
  }

  hr {
    display: none;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    position: static;
    width: 140px;
    height: 48px;
    left: 172.5px;
    top: 347px;
    background: #fff;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 26px 78px;
  }

  button:hover {
    background-color: #6010ff;
    color: #fff;
  }

  button:active {
    background-color: #2230d2;
    transition: 0.3s;
  }

  button:disabled {
    background-color: #fff;
    color: #5e6c84;
    border: 1px solid #e5e5e5;
  }
}
